<ion-header>

  <ion-navbar>
    <ion-title>Nova Contribuição</ion-title>
    <ion-buttons start>
      <button ion-button (click)="cancel()">
        <span color="primary" showWhen="ios">
          {{ 'CANCEL_BUTTON' | translate }}
        </span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <form *ngIf="form" [formGroup]="form" >
    <ion-list>
      <ion-item>
        <ion-input type="text" placeholder="Título de sua experiência" formControlName="name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-textarea placeholder="Descreva a sua experiência "formControlName="about"> </ion-textarea>
      </ion-item>
    </ion-list>
    <ion-buttons end>
      <button ion-button (click)="done()" [disabled]="!isReadyToSave" strong id="ConfirmarContribuicao">
        <span color="secondary">
          Confirmar Contribuição
        </span>
      </button>
    </ion-buttons>

  </form>
</ion-content>
