page-login {
}

ion-img {
    display: inline-block;
    min-width: 20px;
    min-height: 20px;
     background: transparent;
    contain: strict;
    width: 80%;
    height: 70%;
    margin-top: 10%;
    margin-left: 10%;
  }
