<ion-header>
</ion-header>


<ion-content>
  <ion-img src='../../assets/img/logo_hospitaliza.png'></ion-img>
    <ion-list>
      <div padding>
        <ion-row>
          <ion-col width-50>
            <button ion-button full class="btnLogin" (click)="loginComFacebook()">
              Login Facebook
            </button>
          </ion-col>
        </ion-row>
      </div>
    </ion-list>
</ion-content>
