page-perfil {

}
h2{
  color:#fff;
  text-align: center;
}
ion-card-content {
    background: #fff;
}

.card-md {
    margin: 0px;
    width: calc(100% - 0px);
}

#listaInstituicao {
    margin-left: 8px;
    margin-right: 8px;
    margin-top: -7px;
    border: 1px solid #a49f9f;
}
#fotoUsuario{
  width: 70px;
  height: 70px;
}
