<!--
  Generated template for the PerfilPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <!-- pesquisa instituicao de ensino -->
    <ion-searchbar (ionInput)="getInstituicao($event)" placeholder="Pesquise a instituição de saúde"></ion-searchbar>
    <ion-list id='listaInstituicao'>
      <button ion-item (click)="openInstituicao(item)" *ngFor="let item of currentInstituicao">
        <!--  <ion-avatar item-start>
          <img [src]="item.profilePic" />
        </ion-avatar>-->
        <h3>{{item.name}}</h3>
        <p>{{item.about}}</p>
        <ion-note item-end *ngIf="item.note">{{item.note}}</ion-note>
      </button>
    </ion-list>
</ion-header>

<ion-content padding>
  <ion-card *ngFor="let item of cardItems">
    <ion-item>
      <ion-avatar item-start>
        <img [src]="fotoUsuario" id="fotoUsuario">
      </ion-avatar>
      <h1>{{UsuarioLogado}}</h1>
    <!--  <p>{{item.date}}</p>-->
    </ion-item>
    <ion-card-content>
      <p>{{item.content}}</p>
    </ion-card-content>
  </ion-card>
      <h2> Contribuições</h2>

  <ion-list>
    <ion-item-sliding *ngFor="let item of currentItems">
      <button ion-item (click)="openItem(item)">
      <h4> {{item.name}}</h4>
        <p>{{item.about}}</p>
        <p>20/05/2017</p>
        <ion-note item-end *ngIf="item.note">{{item.note}}</ion-note>
      </button>

      <ion-item-options>
        <button ion-button color="danger" (click)="deleteItem(item)">
          {{ 'DELETE_BUTTON' | translate }}
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
