page-instituicao-detail {
  .item-profile {
    width: 100%;
    background-position: center center;
    background-size: cover;
    height: 250px;
  }

  .item-detail {
    width: 100%;
    background: white;
    position: absolute;
  }

}

#ButtonAdd{
  border-radius: 60px;
  background-color: #21cc84;

}
