<ion-header>

  <ion-navbar>
    <ion-title>{{ item.name }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div class="item-profile" text-center #profilePic [style.background-image]="'url(' + item.profilePic + ')'">
  </div>

  <div class="item-detail" padding>
    <h2>{{item.name}}</h2>
    <p>{{item.about}}</p>
  </div>
  <ion-buttons end>
    <button ion-button icon-only  id="ButtonAdd" (click)="addItem()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-buttons>
  <h2> Contribuições</h2>

<ion-list>
<ion-item-sliding *ngFor="let item of currentItems">
  <button ion-item (click)="openItem(item)">
    <ion-avatar item-start>
      <img [src]="item.profilePic" />
    </ion-avatar>
  <h4> {{item.name}}</h4>
    <p>{{item.about}}</p>
    <p>20/05/2017</p>
    <ion-note item-end *ngIf="item.note">{{item.note}}</ion-note>
  </button>
</ion-item-sliding>
</ion-list>
</ion-content>
